@media screen and (max-width:760px) {

    header {
        flex-direction: column;
    }

    main {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        margin-top: 5px;
    }

    li {
        margin: 7px;
    }
    
    #button {
        margin: auto;
    }

    h2 {
        font-size: 38px;
    }

    form {
        margin: 0 auto;
        width: 100%;
    }

    input {
        align-self: center;
        width: 80%;
    }

    img {
        width: 90vw;
        margin: auto;
        padding-left: 50px;    
    }

    main {
        flex-wrap: wrap;
    }

}